// Primary Colours
$primary-colour: #3490dc;
$primary-light: lighten($primary-colour, 10%);
$primary-lighter: lighten($primary-colour, 20%);
$primary-lightest: lighten($primary-colour, 30%);
$primary-dark: darken($primary-colour, 10%);
$primary-darker: darken($primary-colour, 20%);
$primary-darkesrt: darken($primary-colour, 30%);

// Secondary Colours
$secondary-colour: #ffed4a;
$secondary-light: lighten($secondary-colour, 10%);
$secondary-lighter: lighten($secondary-colour, 20%);
$secondary-lightest: lighten($secondary-colour, 30%);
$secondary-dark: darken($secondary-colour, 10%);
$secondary-darker: darken($secondary-colour, 20%);
$secondary-darkest: darken($secondary-colour, 30%);

$footer-colour: #f1f1f1;
$footer-light: lighten($footer-colour, 10%);
$footer-lighter: lighten($footer-colour, 20%);
$footer-lightest: lighten($footer-colour, 30%);
$footer-dark: darken($footer-colour, 10%);
$footer-darker: darken($footer-colour, 20%);
$footer-darkest: darken($footer-colour, 30%);

// Alert Colours
$danger-colour: #e3342f;
$success-colour: #38c172;
$warning-colour: #ffed4a;
$info-colour: #6cb2eb;

// Neutral Colours
$white: #ffffff;
$black: #000000;
$gray-light: #f8f9fa;
$gray-dark: #343a40;
$text-colour: #333333;
$text-secondary-colour: #6c757d;
$basic: #ccc;
$dark-mode: #1f1b24;
$light-dark-mode: lighten($dark-mode, 10%);
$lighter-dark-mode: lighten($dark-mode, 20%);
$lightest-dark-mode: lighten($dark-mode, 30%);
$dark-dark-mode: darken($dark-mode, 10%);
$darker-dark-mode: darken($dark-mode, 20%);
$darkest-dark-mode: darken($dark-mode, 30%);

// Background Colours
$body-bg-colour: $white;
$header-bg-colour: $primary-dark;
$footer-bg-colour: $gray-dark;
$sidebar-bg-colour: $gray-light;

$border-colour: $gray-light;
$navbar-bg-colour: $gray-dark;