// Primary Colours
$primary-colour: #3490DC;
$primary-light: lighten($primary-colour, 10%);
$primary-lighter: lighten($primary-colour, 20%);
$primary-lightest: lighten($primary-colour, 30%);
$primary-light-extreme: lighten($primary-colour, 40%);
$primary-dark: darken($primary-colour, 10%);
$primary-darker: darken($primary-colour, 20%);
$primary-darkest: darken($primary-colour, 30%);
$primary-dark-extreme: darken($primary-colour, 40%);

// Secondary Colours
$secondary-colour: #ffED4A;
$secondary-light: lighten($secondary-colour, 10%);
$secondary-lighter: lighten($secondary-colour, 20%);
$secondary-lightest: lighten($secondary-colour, 30%);
$secondary-light-extreme: lighten($secondary-colour, 40%);
$secondary-dark: darken($secondary-colour, 10%);
$secondary-darker: darken($secondary-colour, 20%);
$secondary-darkest: darken($secondary-colour, 30%);
$secondary-dark-extreme: darken($secondary-colour, 40%);

$footer-colour: #F1F1F1;
$footer-light: lighten($footer-colour, 10%);
$footer-lighter: lighten($footer-colour, 20%);
$footer-lightest: lighten($footer-colour, 30%);
$footer-light-extreme: lighten($footer-colour, 40%);
$footer-dark: darken($footer-colour, 10%);
$footer-darker: darken($footer-colour, 20%);
$footer-darkest: darken($footer-colour, 30%);
$footer-dark-extreme: darken($footer-colour, 40%);

// Alert Colours
$danger-colour: #E3342F;
$success-colour: #38C172;
$warning-colour: #FFED4A;
$info-colour: #6CB2EB;

// Neutral Colours
$white: #FFF;
$black: #000;
$gray-light: #F8F8FA;
$gray-dark: #343A40;
$text-colour: #333;
$text-secondary-colour: #6C757D;

$basic: #CCC;

$dark-mode: #1F1B24;
$light-dark-mode: lighten($dark-mode, 10%);
$lighter-dark-mode: lighten($dark-mode, 20%);
$lightest-dark-mode: lighten($dark-mode, 30%);
$dark-mode-light-extreme: lighten($dark-mode, 40%);
$dark-dark-mode: darken($dark-mode, 10%);
$darker-dark-mode: darken($dark-mode, 20%);
$darkest-dark-mode: darken($dark-mode, 30%);
$dark-mode-dark-extreme: darken($dark-mode, 40%);

// Background Colours
$body-bg-colour: $white;
$header-bg-colour: $primary-dark;
$footer-bg-colour: $gray-dark;
$sidebar-bg-colour: $gray-light;

$border-colour: $gray-light;
$navbar-bg-colour: $gray-dark;