.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

// WIDTH
// width px
.w-0-px{
    max-width: 0px;
}
.w-1-px{
    max-width: 1px;
}
.w-2-px{
    max-width: 2px;
}
.w-3-px{
    max-width: 3px;
}
.w-4-px{
    max-width: 4px;
}
.w-5-px{
    max-width: 5px;
}
.w-10-px{
    max-width: 10px;
}
.w-15-px{
    max-width: 15px;
}
.w-20-px{
    max-width: 20px;
}
.w-25-px{
    max-width: 25px;
}
.w-30-px{
    max-width: 30px;
}
.w-50-px{
    max-width: 50px;
}
.w-100-px{
    max-width: 100px;
}

// width em
.w-0-em{
    max-width: 0em;
}
.w-1-em{
    max-width: 1em;
}
.w-2-em{
    max-width: 2em;
}
.w-3-em{
    max-width: 3em;
}
.w-4-em{
    max-width: 4em;
}
.w-5-em{
    max-width: 5em;
}
.w-10-em{
    max-width: 10em;
}
.w-15-em{
    max-width: 15em;
}
.w-20-em{
    max-width: 20em;
}
.w-25-em{
    max-width: 25em;
}
.w-30-em{
    max-width: 30em;
}
.w-50-em{
    max-width: 50em;
}
.w-100-em{
    max-width: 100em;
}

// width rem
.w-0-rem{
    max-width: 0rem;
}
.w-1-rem{
    max-width: 1rem;
}
.w-2-rem{
    max-width: 2rem;
}
.w-3-rem{
    max-width: 3rem;
}
.w-4-rem{
    max-width: 4rem;
}
.w-5-rem{
    max-width: 5rem;
}
.w-10-rem{
    max-width: 10rem;
}
.w-15-rem{
    max-width: 15rem;
}
.w-20-rem{
    max-width: 20rem;
}
.w-25-rem{
    max-width: 25rem;
}
.w-30-rem{
    max-width: 30rem;
}
.w-50-rem{
    max-width: 50rem;
}
.w-100-rem{
    max-width: 100rem;
}

// width perc
.w-0-perc{
    max-width: 0%;
}
.w-1-perc{
    max-width: 1%;
}
.w-2-perc{
    max-width: 2%;
}
.w-3-perc{
    max-width: 3%;
}
.w-4-perc{
    max-width: 4%;
}
.w-5-perc{
    max-width: 5%;
}
.w-10-perc{
    max-width: 10%;
}
.w-15-perc{
    max-width: 15%;
}
.w-20-perc{
    max-width: 20%;
}
.w-25-perc{
    max-width: 25%;
}
.w-30-perc{
    max-width: 30%;
}
.w-50-perc{
    max-width: 50%;
}
.w-100-perc{
    max-width: 100%;
}

// HEIGHT
// height px
.h-0-px{
    max-height: 0px;
}
.h-1-px{
    max-height: 1px;
}
.h-2-px{
    max-height: 2px;
}
.h-3-px{
    max-height: 3px;
}
.h-4-px{
    max-height: 4px;
}
.h-5-px{
    max-height: 5px;
}
.h-10-px{
    max-height: 10px;
}
.h-15-px{
    max-height: 15px;
}
.h-20-px{
    max-height: 20px;
}
.h-25-px{
    max-height: 25px;
}
.h-30-px{
    max-height: 30px;
}
.h-50-px{
    max-height: 50px;
}
.h-100-px{
    max-height: 100px;
}

// height em
.h-0-em{
    max-height: 0em;
}
.h-1-em{
    max-height: 1em;
}
.h-2-em{
    max-height: 2em;
}
.h-3-em{
    max-height: 3em;
}
.h-4-em{
    max-height: 4em;
}
.h-5-em{
    max-height: 5em;
}
.h-10-em{
    max-height: 10em;
}
.h-15-em{
    max-height: 15em;
}
.h-20-em{
    max-height: 20em;
}
.h-25-em{
    max-height: 25em;
}
.h-30-em{
    max-height: 30em;
}
.h-50-em{
    max-height: 50em;
}
.h-100-em{
    max-height: 100em;
}

// height rem
.h-0-rem{
    max-height: 0rem;
}
.h-1-rem{
    max-height: 1rem;
}
.h-2-rem{
    max-height: 2rem;
}
.h-3-rem{
    max-height: 3rem;
}
.h-4-rem{
    max-height: 4rem;
}
.h-5-rem{
    max-height: 5rem;
}
.h-10-rem{
    max-height: 10rem;
}
.h-15-rem{
    max-height: 15rem;
}
.h-20-rem{
    max-height: 20rem;
}
.h-25-rem{
    max-height: 25rem;
}
.h-30-rem{
    max-height: 30rem;
}
.h-50-rem{
    max-height: 50rem;
}
.h-100-rem{
    max-height: 100rem;
}

// height perc
.h-0-perc{
    max-height: 0%;
}
.h-1-perc{
    max-height: 1%;
}
.h-2-perc{
    max-height: 2%;
}
.h-3-perc{
    max-height: 3%;
}
.h-4-perc{
    max-height: 4%;
}
.h-5-perc{
    max-height: 5%;
}
.h-10-perc{
    max-height: 10%;
}
.h-15-perc{
    max-height: 15%;
}
.h-20-perc{
    max-height: 20%;
}
.h-25-perc{
    max-height: 25%;
}
.h-30-perc{
    max-height: 30%;
}
.h-50-perc{
    max-height: 50%;
}
.h-100-perc{
    max-height: 100%;
}

// LEFT
// left px
.l-0-px{
    left: 0px;
}
.l-1-px{
    left: 1px;
}
.l-2-px{
    left: 2px;
}
.l-3-px{
    left: 3px;
}
.l-4-px{
    left: 4px;
}
.l-5-px{
    left: 5px;
}
.l-10-px{
    left: 10px;
}
.l-15-px{
    left: 15px;
}
.l-20-px{
    left: 20px;
}
.l-25-px{
    left: 25px;
}
.l-30-px{
    left: 30px;
}
.l-50-px{
    left: 50px;
}
.l-100-px{
    left: 100px;
}

// left em
.l-0-em{
    left: 0em;
}
.l-1-em{
    left: 1em;
}
.l-2-em{
    left: 2em;
}
.l-3-em{
    left: 3em;
}
.l-4-em{
    left: 4em;
}
.l-5-em{
    left: 5em;
}
.l-10-em{
    left: 10em;
}
.l-15-em{
    left: 15em;
}
.l-20-em{
    left: 20em;
}
.l-25-em{
    left: 25em;
}
.l-30-em{
    left: 30em;
}
.l-50-em{
    left: 50em;
}
.l-100-em{
    left: 100em;
}

// left rem
.l-0-rem{
    left: 0rem;
}
.l-1-rem{
    left: 1rem;
}
.l-2-rem{
    left: 2rem;
}
.l-3-rem{
    left: 3rem;
}
.l-4-rem{
    left: 4rem;
}
.l-5-rem{
    left: 5rem;
}
.l-10-rem{
    left: 10rem;
}
.l-15-rem{
    left: 15rem;
}
.l-20-rem{
    left: 20rem;
}
.l-25-rem{
    left: 25rem;
}
.l-30-rem{
    left: 30rem;
}
.l-50-rem{
    left: 50rem;
}
.l-100-rem{
    left: 100rem;
}

// left perc
.l-0-perc{
    left: 0%;
}
.l-1-perc{
    left: 1%;
}
.l-2-perc{
    left: 2%;
}
.l-3-perc{
    left: 3%;
}
.l-4-perc{
    left: 4%;
}
.l-5-perc{
    left: 5%;
}
.l-10-perc{
    left: 10%;
}
.l-15-perc{
    left: 15%;
}
.l-20-perc{
    left: 20%;
}
.l-25-perc{
    left: 25%;
}
.l-30-perc{
    left: 30%;
}
.l-50-perc{
    left: 50%;
}
.l-100-perc{
    left: 100%;
}

// RIGHT
// right px
.r-0-px{
    right: 0px;
}
.r-1-px{
    right: 1px;
}
.r-2-px{
    right: 2px;
}
.r-3-px{
    right: 3px;
}
.r-4-px{
    right: 4px;
}
.r-5-px{
    right: 5px;
}
.r-10-px{
    right: 10px;
}
.r-15-px{
    right: 15px;
}
.r-20-px{
    right: 20px;
}
.r-25-px{
    right: 25px;
}
.r-30-px{
    right: 30px;
}
.r-50-px{
    right: 50px;
}
.r-100-px{
    right: 100px;
}

// right em
.r-0-em{
    right: 0em;
}
.r-1-em{
    right: 1em;
}
.r-2-em{
    right: 2em;
}
.r-3-em{
    right: 3em;
}
.r-4-em{
    right: 4em;
}
.r-5-em{
    right: 5em;
}
.r-10-em{
    right: 10em;
}
.r-15-em{
    right: 15em;
}
.r-20-em{
    right: 20em;
}
.r-25-em{
    right: 25em;
}
.r-30-em{
    right: 30em;
}
.r-50-em{
    right: 50em;
}
.r-100-em{
    right: 100em;
}

// right rem
.r-0-rem{
    right: 0rem;
}
.r-1-rem{
    right: 1rem;
}
.r-2-rem{
    right: 2rem;
}
.r-3-rem{
    right: 3rem;
}
.r-4-rem{
    right: 4rem;
}
.r-5-rem{
    right: 5rem;
}
.r-10-rem{
    right: 10rem;
}
.r-15-rem{
    right: 15rem;
}
.r-20-rem{
    right: 20rem;
}
.r-25-rem{
    right: 25rem;
}
.r-30-rem{
    right: 30rem;
}
.r-50-rem{
    right: 50rem;
}
.r-100-rem{
    right: 100rem;
}

// right perc
.r-0-perc{
    right: 0%;
}
.r-1-perc{
    right: 1%;
}
.r-2-perc{
    right: 2%;
}
.r-3-perc{
    right: 3%;
}
.r-4-perc{
    right: 4%;
}
.r-5-perc{
    right: 5%;
}
.r-10-perc{
    right: 10%;
}
.r-15-perc{
    right: 15%;
}
.r-20-perc{
    right: 20%;
}
.r-25-perc{
    right: 25%;
}
.r-30-perc{
    right: 30%;
}
.r-50-perc{
    right: 50%;
}
.r-100-perc{
    right: 100%;
}

// PADDINGS
.p-0{
    padding: 0;
}
// padding px
.p-0-px{
    padding: 0px;
}
.p-1-px{
    padding: 1px;
}
.p-2-px{
    padding: 2px;
}
.p-3-px{
    padding: 3px;
}
.p-4-px{
    padding: 4px;
}
.p-5-px{
    padding: 5px;
}
.p-10-px{
    padding: 10px;
}
.p-15-px{
    padding: 15px;
}
.p-20-px{
    padding: 20px;
}
.p-25-px{
    padding: 25px;
}
.p-50-px{
    padding: 50px;
}
.p-75-px{
    padding: 75px;
}
.p-100-px{
    padding: 100px;
}

.p-t-0-px{
    padding-top: 0px;
}
.p-t-1-px{
    padding-top: 1px;
}
.p-t-2-px{
    padding-top: 2px;
}
.p-t-3-px{
    padding-top: 3px;
}
.p-t-4-px{
    padding-top: 4px;
}
.p-t-5-px{
    padding-top: 5px;
}
.p-t-10-px{
    padding-top: 10px;
}
.p-t-15-px{
    padding-top: 15px;
}
.p-t-20-px{
    padding-top: 20px;
}
.p-t-25-px{
    padding-top: 25px;
}
.p-t-50-px{
    padding-top: 50px;
}
.p-t-75-px{
    padding-top: 75px;
}
.p-t-100-px{
    padding-top: 100px;
}

.p-b-0-px{
    padding-bottom: 0px;
}
.p-b-1-px{
    padding-bottom: 1px;
}
.p-b-2-px{
    padding-bottom: 2px;
}
.p-b-3-px{
    padding-bottom: 3px;
}
.p-b-4-px{
    padding-bottom: 4px;
}
.p-b-5-px{
    padding-bottom: 5px;
}
.p-b-10-px{
    padding-bottom: 10px;
}
.p-b-15-px{
    padding-bottom: 15px;
}
.p-b-20-px{
    padding-bottom: 20px;
}
.p-b-25-px{
    padding-bottom: 25px;
}
.p-b-50-px{
    padding-bottom: 50px;
}
.p-b-75-px{
    padding-bottom: 75px;
}
.p-b-100-px{
    padding-bottom: 100px;
}

.p-l-0-px{
    padding-left: 0px;
}
.p-l-1-px{
    padding-left: 1px;
}
.p-l-2-px{
    padding-left: 2px;
}
.p-l-3-px{
    padding-left: 3px;
}
.p-l-4-px{
    padding-left: 4px;
}
.p-l-5-px{
    padding-left: 5px;
}
.p-l-10-px{
    padding-left: 10px;
}
.p-l-15-px{
    padding-left: 15px;
}
.p-l-20-px{
    padding-left: 20px;
}
.p-l-25-px{
    padding-left: 25px;
}
.p-l-50-px{
    padding-left: 50px;
}
.p-l-75-px{
    padding-left: 75px;
}
.p-l-100-px{
    padding-left: 100px;
}

.p-r-0-px{
    padding-right: 0px;
}
.p-r-1-px{
    padding-right: 1px;
}
.p-r-2-px{
    padding-right: 2px;
}
.p-r-3-px{
    padding-right: 3px;
}
.p-r-4-px{
    padding-right: 4px;
}
.p-r-5-px{
    padding-right: 5px;
}
.p-r-10-px{
    padding-right: 10px;
}
.p-r-15-px{
    padding-right: 15px;
}
.p-r-20-px{
    padding-right: 20px;
}
.p-r-25-px{
    padding-right: 25px;
}
.p-r-50-px{
    padding-right: 50px;
}
.p-r-75-px{
    padding-right: 75px;
}
.p-r-100-px{
    padding-right: 100px;
}

.p-y-0-px{
    padding-top: 0px;
    padding-bottom: 0px;
}
.p-y-1-px{
    padding-top: 1px;
    padding-bottom: 1px;
}
.p-y-2-px{
    padding-top: 2px;
    padding-bottom: 2px;
}
.p-y-3-px{
    padding-top: 3px;
    padding-bottom: 3px;
}
.p-y-4-px{
    padding-top: 4px;
    padding-bottom: 4px;
}
.p-y-5-px{
    padding-top: 5px;
    padding-bottom: 5px;
}
.p-y-10-px{
    padding-top: 10px;
    padding-bottom: 10px;
}
.p-y-15-px{
    padding-top: 15px;
    padding-bottom: 15px;
}
.p-y-20-px{
    padding-top: 20px;
    padding-bottom: 20px;
}
.p-y-25-px{
    padding-top: 25px;
    padding-bottom: 25px;
}
.p-y-50-px{
    padding-top: 50px;
    padding-bottom: 50px;
}
.p-y-75-px{
    padding-top: 75px;
    padding-bottom: 75px;
}
.p-y-100-px{
    padding-top: 100px;
    padding-bottom: 100px;
}

.p-x-0-px{
    padding-left: 0px;
    padding-right: 0px;
}
.p-x-1-px{
    padding-left: 1px;
    padding-right: 1px;
}
.p-x-2-px{
    padding-left: 2px;
    padding-right: 2px;
}
.p-x-3-px{
    padding-left: 3px;
    padding-right: 3px;
}
.p-x-4-px{
    padding-left: 4px;
    padding-right: 4px;
}
.p-x-5-px{
    padding-left: 5px;
    padding-right: 5px;
}
.p-x-10-px{
    padding-left: 10px;
    padding-right: 10px;
}
.p-x-15-px{
    padding-left: 15px;
    padding-right: 15px;
}
.p-x-20-px{
    padding-left: 20px;
    padding-right: 20px;
}
.p-x-25-px{
    padding-left: 25px;
    padding-right: 25px;
}
.p-x-50-px{
    padding-left: 50px;
    padding-right: 50px;
}
.p-x-75-px{
    padding-left: 75px;
    padding-right: 75px;
}
.p-x-100-px{
    padding-left: 100px;
    padding-right: 100px;
}

// padding em
.p-0-em{
    padding: 0em;
}
.p-1-em{
    padding: 1em;
}
.p-2-em{
    padding: 2em;
}
.p-3-em{
    padding: 3em;
}
.p-4-em{
    padding: 4em;
}
.p-5-em{
    padding: 5em;
}
.p-10-em{
    padding: 10em;
}
.p-15-em{
    padding: 15em;
}
.p-20-em{
    padding: 20em;
}
.p-25-em{
    padding: 25em;
}
.p-50-em{
    padding: 50em;
}
.p-75-em{
    padding: 75em;
}
.p-100-em{
    padding: 100em;
}

.p-t-0-em{
    padding-top: 0em;
}
.p-t-1-em{
    padding-top: 1em;
}
.p-t-2-em{
    padding-top: 2em;
}
.p-t-3-em{
    padding-top: 3em;
}
.p-t-4-em{
    padding-top: 4em;
}
.p-t-5-em{
    padding-top: 5em;
}
.p-t-10-em{
    padding-top: 10em;
}
.p-t-15-em{
    padding-top: 15em;
}
.p-t-20-em{
    padding-top: 20em;
}
.p-t-25-em{
    padding-top: 25em;
}
.p-t-50-em{
    padding-top: 50em;
}
.p-t-75-em{
    padding-top: 75em;
}
.p-t-100-em{
    padding-top: 100em;
}

.p-b-0-em{
    padding-bottom: 0em;
}
.p-b-1-em{
    padding-bottom: 1em;
}
.p-b-2-em{
    padding-bottom: 2em;
}
.p-b-3-em{
    padding-bottom: 3em;
}
.p-b-4-em{
    padding-bottom: 4em;
}
.p-b-5-em{
    padding-bottom: 5em;
}
.p-b-10-em{
    padding-bottom: 10em;
}
.p-b-15-em{
    padding-bottom: 15em;
}
.p-b-20-em{
    padding-bottom: 20em;
}
.p-b-25-em{
    padding-bottom: 25em;
}
.p-b-50-em{
    padding-bottom: 50em;
}
.p-b-75-em{
    padding-bottom: 75em;
}
.p-b-100-em{
    padding-bottom: 100em;
}

.p-l-0-em{
    padding-left: 0em;
}
.p-l-1-em{
    padding-left: 1em;
}
.p-l-2-em{
    padding-left: 2em;
}
.p-l-3-em{
    padding-left: 3em;
}
.p-l-4-em{
    padding-left: 4em;
}
.p-l-5-em{
    padding-left: 5em;
}
.p-l-10-em{
    padding-left: 10em;
}
.p-l-15-em{
    padding-left: 15em;
}
.p-l-20-em{
    padding-left: 20em;
}
.p-l-25-em{
    padding-left: 25em;
}
.p-l-50-em{
    padding-left: 50em;
}
.p-l-75-em{
    padding-left: 75em;
}
.p-l-100-em{
    padding-left: 100em;
}

.p-r-0-em{
    padding-right: 0em;
}
.p-r-1-em{
    padding-right: 1em;
}
.p-r-2-em{
    padding-right: 2em;
}
.p-r-3-em{
    padding-right: 3em;
}
.p-r-4-em{
    padding-right: 4em;
}
.p-r-5-em{
    padding-right: 5em;
}
.p-r-10-em{
    padding-right: 10em;
}
.p-r-15-em{
    padding-right: 15em;
}
.p-r-20-em{
    padding-right: 20em;
}
.p-r-25-em{
    padding-right: 25em;
}
.p-r-50-em{
    padding-right: 50em;
}
.p-r-75-em{
    padding-right: 75em;
}
.p-r-100-em{
    padding-right: 100em;
}

.p-y-0-em{
    padding-top: 0em;
    padding-bottom: 0em;
}
.p-y-1-em{
    padding-top: 1em;
    padding-bottom: 1em;
}
.p-y-2-em{
    padding-top: 2em;
    padding-bottom: 2em;
}
.p-y-3-em{
    padding-top: 3em;
    padding-bottom: 3em;
}
.p-y-4-em{
    padding-top: 4em;
    padding-bottom: 4em;
}
.p-y-5-em{
    padding-top: 5em;
    padding-bottom: 5em;
}
.p-y-10-em{
    padding-top: 10em;
    padding-bottom: 10em;
}
.p-y-15-em{
    padding-top: 15em;
    padding-bottom: 15em;
}
.p-y-20-em{
    padding-top: 20em;
    padding-bottom: 20em;
}
.p-y-25-em{
    padding-top: 25em;
    padding-bottom: 25em;
}
.p-y-50-em{
    padding-top: 50em;
    padding-bottom: 50em;
}
.p-y-75-em{
    padding-top: 75em;
    padding-bottom: 75em;
}
.p-y-100-em{
    padding-top: 100em;
    padding-bottom: 100em;
}

.p-x-0-em{
    padding-left: 0em;
    padding-right: 0em;
}
.p-x-1-em{
    padding-left: 1em;
    padding-right: 1em;
}
.p-x-2-em{
    padding-left: 2em;
    padding-right: 2em;
}
.p-x-3-em{
    padding-left: 3em;
    padding-right: 3em;
}
.p-x-4-em{
    padding-left: 4em;
    padding-right: 4em;
}
.p-x-5-em{
    padding-left: 5em;
    padding-right: 5em;
}
.p-x-10-em{
    padding-left: 10em;
    padding-right: 10em;
}
.p-x-15-em{
    padding-left: 15em;
    padding-right: 15em;
}
.p-x-20-em{
    padding-left: 20em;
    padding-right: 20em;
}
.p-x-25-em{
    padding-left: 25em;
    padding-right: 25em;
}
.p-x-50-em{
    padding-left: 50em;
    padding-right: 50em;
}
.p-x-75-em{
    padding-left: 75em;
    padding-right: 75em;
}
.p-x-100-em{
    padding-left: 100em;
    padding-right: 100em;
}

// padding rem
.p-0-rem{
    padding: 0rem;
}
.p-1-rem{
    padding: 1rem;
}
.p-2-rem{
    padding: 2rem;
}
.p-3-rem{
    padding: 3rem;
}
.p-4-rem{
    padding: 4rem;
}
.p-5-rem{
    padding: 5rem;
}
.p-10-rem{
    padding: 10rem;
}
.p-15-rem{
    padding: 15rem;
}
.p-20-rem{
    padding: 20rem;
}
.p-25-rem{
    padding: 25rem;
}
.p-50-rem{
    padding: 50rem;
}
.p-75-rem{
    padding: 75rem;
}
.p-100-rem{
    padding: 100rem;
}

.p-t-0-rem{
    padding-top: 0rem;
}
.p-t-1-rem{
    padding-top: 1rem;
}
.p-t-2-rem{
    padding-top: 2rem;
}
.p-t-3-rem{
    padding-top: 3rem;
}
.p-t-4-rem{
    padding-top: 4rem;
}
.p-t-5-rem{
    padding-top: 5rem;
}
.p-t-10-rem{
    padding-top: 10rem;
}
.p-t-15-rem{
    padding-top: 15rem;
}
.p-t-20-rem{
    padding-top: 20rem;
}
.p-t-25-rem{
    padding-top: 25rem;
}
.p-t-50-rem{
    padding-top: 50rem;
}
.p-t-75-rem{
    padding-top: 75rem;
}
.p-t-100-rem{
    padding-top: 100rem;
}

.p-b-0-rem{
    padding-bottom: 0rem;
}
.p-b-1-rem{
    padding-bottom: 1rem;
}
.p-b-2-rem{
    padding-bottom: 2rem;
}
.p-b-3-rem{
    padding-bottom: 3rem;
}
.p-b-4-rem{
    padding-bottom: 4rem;
}
.p-b-5-rem{
    padding-bottom: 5rem;
}
.p-b-10-rem{
    padding-bottom: 10rem;
}
.p-b-15-rem{
    padding-bottom: 15rem;
}
.p-b-20-rem{
    padding-bottom: 20rem;
}
.p-b-25-rem{
    padding-bottom: 25rem;
}
.p-b-50-rem{
    padding-bottom: 50rem;
}
.p-b-75-rem{
    padding-bottom: 75rem;
}
.p-b-100-rem{
    padding-bottom: 100rem;
}

.p-l-0-rem{
    padding-left: 0rem;
}
.p-l-1-rem{
    padding-left: 1rem;
}
.p-l-2-rem{
    padding-left: 2rem;
}
.p-l-3-rem{
    padding-left: 3rem;
}
.p-l-4-rem{
    padding-left: 4rem;
}
.p-l-5-rem{
    padding-left: 5rem;
}
.p-l-10-rem{
    padding-left: 10rem;
}
.p-l-15-rem{
    padding-left: 15rem;
}
.p-l-20-rem{
    padding-left: 20rem;
}
.p-l-25-erm{
    padding-left: 25rem;
}
.p-l-50-rem{
    padding-left: 50rem;
}
.p-l-75-rem{
    padding-left: 75rem;
}
.p-l-100-rem{
    padding-left: 100rem;
}

.p-r-0-rem{
    padding-right: 0rem;
}
.p-r-1-rem{
    padding-right: 1rem;
}
.p-r-2-rem{
    padding-right: 2rem;
}
.p-r-3-rem{
    padding-right: 3rem;
}
.p-r-4-rem{
    padding-right: 4rem;
}
.p-r-5-rem{
    padding-right: 5rem;
}
.p-r-10-rem{
    padding-right: 10rem;
}
.p-r-15-rem{
    padding-right: 15rem;
}
.p-r-20-rem{
    padding-right: 20rem;
}
.p-r-25-rem{
    padding-right: 25rem;
}
.p-r-50-rem{
    padding-right: 50rem;
}
.p-r-75-rem{
    padding-right: 75rem;
}
.p-r-100-rem{
    padding-right: 100rem;
}

.p-y-0-rem{
    padding-top: 0rem;
    padding-bottom: 0rem;
}
.p-y-1-rem{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.p-y-2-rem{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.p-y-3-rem{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.p-y-4-rem{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.p-y-5-rem{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.p-y-10-rem{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.p-y-15-rem{
    padding-top: 15rem;
    padding-bottom: 15rem;
}
.p-y-20-rem{
    padding-top: 20rem;
    padding-bottom: 20rem;
}
.p-y-25-rem{
    padding-top: 25rem;
    padding-bottom: 25rem;
}
.p-y-50-rem{
    padding-top: 50rem;
    padding-bottom: 50rem;
}
.p-y-75-rem{
    padding-top: 75rem;
    padding-bottom: 75rem;
}
.p-y-100-rem{
    padding-top: 100rem;
    padding-bottom: 100rem;
}

.p-x-0-rem{
    padding-left: 0rem;
    padding-right: 0rem;
}
.p-x-1-rem{
    padding-left: 1rem;
    padding-right: 1rem;
}
.p-x-2-rem{
    padding-left: 2rem;
    padding-right: 2rem;
}
.p-x-3-rem{
    padding-left: 3rem;
    padding-right: 3rem;
}
.p-x-4-rem{
    padding-left: 4rem;
    padding-right: 4rem;
}
.p-x-5-rem{
    padding-left: 5rem;
    padding-right: 5rem;
}
.p-x-10-rem{
    padding-left: 10rem;
    padding-right: 10rem;
}
.p-x-15-rem{
    padding-left: 15rem;
    padding-right: 15rem;
}
.p-x-20-rem{
    padding-left: 20rem;
    padding-right: 20rem;
}
.p-x-25-rem{
    padding-left: 25rem;
    padding-right: 25rem;
}
.p-x-50-rem{
    padding-left: 50rem;
    padding-right: 50rem;
}
.p-x-75-rem{
    padding-left: 75rem;
    padding-right: 75rem;
}
.p-x-100-rem{
    padding-left: 100rem;
    padding-right: 100rem;
}

// padding perc
.p-0-perc{
    padding: 0%;
}
.p-1-perc{
    padding: 1%;
}
.p-2-perc{
    padding: 2%;
}
.p-3-perc{
    padding: 3%;
}
.p-4-perc{
    padding: 4%;
}
.p-5-perc{
    padding: 5%;
}
.p-10-perc{
    padding: 10%;
}
.p-15-perc{
    padding: 15%;
}
.p-20-perc{
    padding: 20%;
}
.p-25-perc{
    padding: 25%;
}
.p-50-perc{
    padding: 50%;
}
.p-75-perc{
    padding: 75%;
}
.p-100-perc{
    padding: 100%;
}

.p-t-0-perc{
    padding-top: 0%;
}
.p-t-1-perc{
    padding-top: 1%;
}
.p-t-2-perc{
    padding-top: 2%;
}
.p-t-3-perc{
    padding-top: 3%;
}
.p-t-4-perc{
    padding-top: 4%;
}
.p-t-5-perc{
    padding-top: 5%;
}
.p-t-10-perc{
    padding-top: 10%;
}
.p-t-15-perc{
    padding-top: 15%;
}
.p-t-20-perc{
    padding-top: 20%;
}
.p-t-25-perc{
    padding-top: 25%;
}
.p-t-50-perc{
    padding-top: 50%;
}
.p-t-75-perc{
    padding-top: 75%;
}
.p-t-100-perc{
    padding-top: 100%;
}

.p-b-0-perc{
    padding-bottom: 0%;
}
.p-b-1-perc{
    padding-bottom: 1%;
}
.p-b-2-perc{
    padding-bottom: 2%;
}
.p-b-3-perc{
    padding-bottom: 3%;
}
.p-b-4-perc{
    padding-bottom: 4%;
}
.p-b-5-perc{
    padding-bottom: 5%;
}
.p-b-10-perc{
    padding-bottom: 10%;
}
.p-b-15-perc{
    padding-bottom: 15%;
}
.p-b-20-perc{
    padding-bottom: 20%;
}
.p-b-25-perc{
    padding-bottom: 25%;
}
.p-b-50-perc{
    padding-bottom: 50%;
}
.p-b-75-perc{
    padding-bottom: 75%;
}
.p-b-100-perc{
    padding-bottom: 100%;
}

.p-l-0-perc{
    padding-left: 0%;
}
.p-l-1-perc{
    padding-left: 1%;
}
.p-l-2-perc{
    padding-left: 2%;
}
.p-l-3-perc{
    padding-left: 3%;
}
.p-l-4-perc{
    padding-left: 4%;
}
.p-l-5-perc{
    padding-left: 5%;
}
.p-l-10-perc{
    padding-left: 10%;
}
.p-l-15-perc{
    padding-left: 15%;
}
.p-l-20-perc{
    padding-left: 20%;
}
.p-l-25-perc{
    padding-left: 25%;
}
.p-l-50-perc{
    padding-left: 50%;
}
.p-l-75-perc{
    padding-left: 75%;
}
.p-l-100-perc{
    padding-left: 100%;
}

.p-r-0-rem{
    padding-right: 0%;
}
.p-r-1-perc{
    padding-right: 1%;
}
.p-r-2-perc{
    padding-right: 2%;
}
.p-r-3-perc{
    padding-right: 3%;
}
.p-r-4-perc{
    padding-right: 4%;
}
.p-r-5-perc{
    padding-right: 5%;
}
.p-r-10-perc{
    padding-right: 10%;
}
.p-r-15-perc{
    padding-right: 15%;
}
.p-r-20-perc{
    padding-right: 20%;
}
.p-r-25-perc{
    padding-right: 25%;
}
.p-r-50-perc{
    padding-right: 50%;
}
.p-r-75-perc{
    padding-right: 75%;
}
.p-r-100-perc{
    padding-right: 100%;
}

.p-y-0-perc{
    padding-top: 0%;
    padding-bottom: 0%;
}
.p-y-1-perc{
    padding-top: 1%;
    padding-bottom: 1%;
}
.p-y-2-perc{
    padding-top: 2%;
    padding-bottom: 2%;
}
.p-y-3-perc{
    padding-top: 3%;
    padding-bottom: 3%;
}
.p-y-4-perc{
    padding-top: 4%;
    padding-bottom: 4%;
}
.p-y-5-perc{
    padding-top: 5%;
    padding-bottom: 5%;
}
.p-y-10-perc{
    padding-top: 10%;
    padding-bottom: 10%;
}
.p-y-15-perc{
    padding-top: 15%;
    padding-bottom: 15%;
}
.p-y-20-perc{
    padding-top: 20%;
    padding-bottom: 20%;
}
.p-y-25-perc{
    padding-top: 25%;
    padding-bottom: 25%;
}
.p-y-50-perc{
    padding-top: 50%;
    padding-bottom: 50%;
}
.p-y-75-perc{
    padding-top: 75%;
    padding-bottom: 75%;
}
.p-y-100-perc{
    padding-top: 100%;
    padding-bottom: 100%;
}

.p-x-0-perc{
    padding-left: 0%;
    padding-right: 0%;
}
.p-x-1-perc{
    padding-left: 1%;
    padding-right: 1%;
}
.p-x-2-perc{
    padding-left: 2%;
    padding-right: 2%;
}
.p-x-3-perc{
    padding-left: 3%;
    padding-right: 3%;
}
.p-x-4-perc{
    padding-left: 4%;
    padding-right: 4%;
}
.p-x-5-perc{
    padding-left: 5%;
    padding-right: 5%;
}
.p-x-10-perc{
    padding-left: 10%;
    padding-right: 10%;
}
.p-x-15-perc{
    padding-left: 15%;
    padding-right: 15%;
}
.p-x-20-perc{
    padding-left: 20%;
    padding-right: 20%;
}
.p-x-25-perc{
    padding-left: 25%;
    padding-right: 25%;
}
.p-x-50-perc{
    padding-top: 50%;
    padding-bottom: 50%;
}
.p-x-75-perc{
    padding-top: 75%;
    padding-bottom: 75%;
}
.p-x-100-perc{
    padding-top: 100%;
    padding-bottom: 100%;
}


// MARGINS
.m-0{
    margin:0;
}
// margin px
.m-0-px{
    margin: 0px;
}
.m-1-px{
    margin: 1px;
}
.m-2-px{
    margin: 2px;
}
.m-3-px{
    margin: 3px;
}
.m-4-px{
    margin: 4px;
}
.m-5-px{
    margin: 5px;
}
.m-10-px{
    margin: 10px;
}
.m-15-px{
    margin: 15px;
}
.m-20-px{
    margin: 20px;
}
.m-25-px{
    margin: 25px;
}

.m-t-1-px{
    margin-top: 1px;
}
.m-t-2-px{
    margin-top: 2px;
}
.m-t-3-px{
    margin-top: 3px;
}
.m-t-4-px{
    margin-top: 4px;
}
.m-t-5-px{
    margin-top: 5px;
}
.m-t-10-px{
    margin-top: 10px;
}
.m-t-15-px{
    margin-top: 15px;
}
.m-t-20-px{
    margin-top: 20px;
}
.m-t-25-px{
    margin-top: 25px;
}

.m-b-1-px{
    margin-bottom: 1px;
}
.m-b-2-px{
    margin-bottom: 2px;
}
.m-b-3-px{
    margin-bottom: 3px;
}
.m-b-4-px{
    margin-bottom: 4px;
}
.m-b-5-px{
    margin-bottom: 5px;
}
.m-b-10-px{
    margin-bottom: 10px;
}
.m-b-15-px{
    margin-bottom: 15px;
}
.m-b-20-px{
    margin-bottom: 20px;
}
.m-b-25-px{
    margin-bottom: 25px;
}

.m-l-1-px{
    margin-left: 1px;
}
.m-l-2-px{
    margin-left: 2px;
}
.m-l-3-px{
    margin-left: 3px;
}
.m-l-4-px{
    margin-left: 4px;
}
.m-l-5-px{
    margin-left: 5px;
}
.m-l-10-px{
    margin-left: 10px;
}
.m-l-15-px{
    margin-left: 15px;
}
.m-l-20-px{
    margin-left: 20px;
}
.m-l-25-px{
    margin-left: 25px;
}

.m-r-1-px{
    margin-right: 1px;
}
.m-r-2-px{
    margin-right: 2px;
}
.m-r-3-px{
    margin-right: 3px;
}
.m-r-4-px{
    margin-right: 4px;
}
.m-r-5-px{
    margin-right: 5px;
}
.m-r-10-px{
    margin-right: 10px;
}
.m-r-15-px{
    margin-right: 15px;
}
.m-r-20-px{
    margin-right: 20px;
}
.m-r-25-px{
    margin-right: 25px;
}

.m-y-1-px{
    margin-top: 1px;
    margin-bottom: 1px;
}
.m-y-2-px{
    margin-top: 2px;
    margin-bottom: 2px;
}
.m-y-3-px{
    margin-top: 3px;
    margin-bottom: 3px;
}
.m-y-4-px{
    margin-top: 4px;
    margin-bottom: 4px;
}
.m-y-5-px{
    margin-top: 5px;
    margin-bottom: 5px;
}
.m-y-10-px{
    margin-top: 10px;
    margin-bottom: 10px;
}
.m-y-15-px{
    margin-top: 15px;
    margin-bottom: 15px;
}
.m-y-20-px{
    margin-top: 20px;
    margin-bottom: 20px;
}
.m-y-25-px{
    margin-top: 25px;
    margin-bottom: 25px;
}

.m-x-1-px{
    margin-left: 1px;
    margin-right: 1px;
}
.m-x-2-px{
    margin-left: 2px;
    margin-right: 2px;
}
.m-x-3-px{
    margin-left: 3px;
    margin-right: 3px;
}
.m-x-4-px{
    margin-left: 4px;
    margin-right: 4px;
}
.m-x-5-px{
    margin-left: 5px;
    margin-right: 5px;
}
.m-x-10-px{
    margin-left: 10px;
    margin-right: 10px;
}
.m-x-15-px{
    margin-left: 15px;
    margin-right: 15px;
}
.m-x-20-px{
    margin-left: 20px;
    margin-right: 20px;
}
.m-x-25-px{
    margin-left: 25px;
    margin-right: 25px;
}

// margin em
.m-0-em{
    margin: 0em;
}
.m-1-em{
    margin: 1em;
}
.m-2-em{
    margin: 2em;
}
.m-3-em{
    margin: 3em;
}
.m-4-em{
    margin: 4em;
}
.m-5-em{
    margin: 5em;
}
.m-10-em{
    margin: 10em;
}
.m-15-em{
    margin: 15em;
}
.m-20-em{
    margin: 20em;
}
.m-25-em{
    margin: 25em;
}

.m-1-em{
    margin-top: 1em;
}
.m-2-em{
    margin-top: 2em;
}
.m-3-em{
    margin-top: 3em;
}
.m-4-em{
    margin-top: 4em;
}
.m-5-em{
    margin-top: 5em;
}
.m-10-em{
    margin-top: 10em;
}
.m-15-em{
    margin-top: 15em;
}
.m-20-em{
    margin-top: 20em;
}
.m-25-em{
    margin-top: 25em;
}

.m-b-1-em{
    margin-bottom: 1em;
}
.m-b-2-em{
    margin-bottom: 2em;
}
.m-b-3-em{
    margin-bottom: 3em;
}
.m-b-4-em{
    margin-bottom: 4em;
}
.m-b-5-em{
    margin-bottom: 5em;
}
.m-b-10-em{
    margin-bottom: 10em;
}
.m-b-15-em{
    margin-bottom: 15em;
}
.m-b-20-em{
    margin-bottom: 20em;
}
.m-b-25-em{
    margin-bottom: 25em;
}

.m-l-1-em{
    margin-left: 1em;
}
.m-l-2-em{
    margin-left: 2em;
}
.m-l-3-em{
    margin-left: 3em;
}
.m-l-4-em{
    margin-left: 4em;
}
.m-l-5-em{
    margin-left: 5em;
}
.m-l-10-em{
    margin-left: 10em;
}
.m-l-15-em{
    margin-left: 15em;
}
.m-l-20-em{
    margin-left: 20em;
}
.m-l-25-em{
    margin-left: 25em;
}

.m-r-1-em{
    margin-right: 1em;
}
.m-r-2-em{
    margin-right: 2em;
}
.m-r-3-em{
    margin-right: 3em;
}
.m-r-4-em{
    margin-right: 4em;
}
.m-r-5-em{
    margin-right: 5em;
}
.m-r-10-em{
    margin-right: 10em;
}
.m-r-15-em{
    margin-right: 15em;
}
.m-r-20-em{
    margin-right: 20em;
}
.m-r-25-em{
    margin-right: 25em;
}

.m-y-1-em{
    margin-top: 1em;
    margin-bottom: 1em;
}
.m-y-2-em{
    margin-top: 2em;
    margin-bottom: 2em;
}
.m-y-3-em{
    margin-top: 3em;
    margin-bottom: 3em;
}
.m-y-4-em{
    margin-top: 4em;
    margin-bottom: 4em;
}
.m-y-5-em{
    margin-top: 5em;
    margin-bottom: 5em;
}
.m-y-10-em{
    margin-top: 10em;
    margin-bottom: 10em;
}
.m-y-15-em{
    margin-top: 15em;
    margin-bottom: 15em;
}
.m-y-20-em{
    margin-top: 20em;
    margin-bottom: 20em;
}
.m-y-25-em{
    margin-top: 25em;
    margin-bottom: 25em;
}

.m-x-1-em{
    margin-left: 1em;
    margin-right: 1em;
}
.m-x-2-em{
    margin-left: 2em;
    margin-right: 2em;
}
.m-x-3-em{
    margin-left: 3em;
    margin-right: 3em;
}
.m-x-4-em{
    margin-left: 4em;
    margin-right: 4em;
}
.m-x-5-em{
    margin-left: 5em;
    margin-right: 5em;
}
.m-x-10-em{
    margin-left: 10em;
    margin-right: 10em;
}
.m-x-15-em{
    margin-left: 15em;
    margin-right: 15em;
}
.m-x-20-em{
    margin-left: 20em;
    margin-right: 20em;
}
.m-x-25-em{
    margin-left: 25em;
    margin-right: 25em;
}

// margin rem
.m-0-rem{
    margin: 0rem;
}
.m-1-rem{
    margin: 1rem;
}
.m-2-rem{
    margin: 2rem;
}
.m-3-rem{
    margin: 3rem;
}
.m-4-rem{
    margin: 4rem;
}
.m-5-rem{
    margin: 5rem;
}
.m-10-rem{
    margin: 10rem;
}
.m-15-rem{
    margin: 15rem;
}
.m-20-rem{
    margin: 20rem;
}
.m-25-rem{
    margin: 25rem;
}

.m-t-1-rem{
    margin-top: 1rem;
}
.m-t-2-rem{
    margin-top: 2rem;
}
.m-t-3-rem{
    margin-top: 3rem;
}
.m-t-4-rem{
    margin-top: 4rem;
}
.m-t-5-rem{
    margin-top: 5rem;
}
.m-t-10-rem{
    margin-top: 10rem;
}
.m-t-15-rem{
    margin-top: 15rem;
}
.m-t-20-rem{
    margin-top: 20rem;
}
.m-t-25-rem{
    margin-top: 25rem;
}

.m-b-1-rem{
    margin-bottom: 1rem;
}
.m-b-2-rem{
    margin-bottom: 2rem;
}
.m-b-3-rem{
    margin-bottom: 3rem;
}
.m-b-4-rem{
    margin-bottom: 4rem;
}
.m-b-5-rem{
    margin-bottom: 5rem;
}
.m-b-10-rem{
    margin-bottom: 10rem;
}
.m-b-15-rem{
    margin-bottom: 15rem;
}
.m-b-20-rem{
    margin-bottom: 20rem;
}
.m-b-25-rem{
    margin-bottom: 25rem;
}

.m-l-1-rem{
    margin-left: 1rem;
}
.m-l-2-rem{
    margin-left: 2rem;
}
.m-l-3-rem{
    margin-left: 3rem;
}
.m-l-4-rem{
    margin-left: 4rem;
}
.m-l-5-rem{
    margin-left: 5rem;
}
.m-l-10-rem{
    margin-left: 10rem;
}
.m-l-15-rem{
    margin-left: 15rem;
}
.m-l-20-rem{
    margin-left: 20rem;
}
.m-l-25-rem{
    margin-left: 25rem;
}

.m-r-1-rem{
    margin-right: 1rem;
}
.m-r-2-rem{
    margin-right: 2rem;
}
.m-r-3-rem{
    margin-right: 3rem;
}
.m-r-4-rem{
    margin-right: 4rem;
}
.m-r-5-rem{
    margin-right: 5rem;
}
.m-r-10-rem{
    margin-right: 10rem;
}
.m-r-15-rem{
    margin-right: 15rem;
}
.m-r-20-rem{
    margin-right: 20rem;
}
.m-r-25-rem{
    margin-right: 25rem;
}

.m-y-1-rem{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.m-y-2-rem{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.m-y-3-rem{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.m-y-4-rem{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.m-y-5-rem{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.m-y-10-rem{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.m-y-15-rem{
    margin-top: 15rem;
    margin-bottom: 15rem;
}
.m-y-20-rem{
    margin-top: 20rem;
    margin-bottom: 20rem;
}
.m-y-25-rem{
    margin-top: 25rem;
    margin-bottom: 25rem;
}

.m-x-1-rem{
    margin-left: 1rem;
    margin-right: 1rem;
}
.m-x-2-rem{
    margin-left: 2rem;
    margin-right: 2rem;
}
.m-x-3-rem{
    margin-left: 3rem;
    margin-right: 3rem;
}
.m-x-4-rem{
    margin-left: 4rem;
    margin-right: 4rem;
}
.m-x-5-rem{
    margin-left: 5rem;
    margin-right: 5rem;
}
.m-x-10-rem{
    margin-left: 10rem;
    margin-right: 10rem;
}
.m-x-15-rem{
    margin-left: 15rem;
    margin-right: 15rem;
}
.m-x-20-rem{
    margin-left: 20rem;
    margin-right: 20rem;
}
.m-x-25-rem{
    margin-left: 25rem;
    margin-right: 25rem;
}

// margin perc
.m-0-perc{
    margin: 0%;
}
.m-1-perc{
    margin: 1%;
}
.m-2-perc{
    margin: 2%;
}
.m-3-perc{
    margin: 3%;
}
.m-4-perc{
    margin: 4%;
}
.m-5-perc{
    margin: 5%;
}
.m-10-perc{
    margin: 10%;
}
.m-15-perc{
    margin: 15%;
}
.m-20-perc{
    margin: 20%;
}
.m-25-perc{
    margin: 25%;
}

.m-t-1-perc{
    margin-top: 1%;
}
.m-t-2-perc{
    margin-top: 2%;
}
.m-t-3-perc{
    padding-top: 3%;
}
.m-t-4-perc{
    margin-top: 4%;
}
.m-t-5-perc{
    margin-top: 5%;
}
.m-t-10-perc{
    margin-top: 10%;
}
.m-t-15-perc{
    margin-top: 15%;
}
.m-t-20-perc{
    margin-top: 20%;
}
.m-t-25-perc{
    margin-top: 25%;
}

.m-b-1-perc{
    margin-bottom: 1%;
}
.m-b-2-perc{
    margin-bottom: 2%;
}
.m-b-3-perc{
    padding-bottom: 3%;
}
.m-b-4-perc{
    margin-bottom: 4%;
}
.m-b-5-perc{
    margin-bottom: 5%;
}
.m-b-10-perc{
    margin-bottom: 10%;
}
.m-b-15-perc{
    margin-bottom: 15%;
}
.m-b-20-perc{
    margin-bottom: 20%;
}
.m-b-25-perc{
    margin-bottom: 25%;
}

.m-l-1-perc{
    margin-left: 1%;
}
.m-l-2-perc{
    margin-left: 2%;
}
.m-l-3-perc{
    padding-left: 3%;
}
.m-l-4-perc{
    margin-left: 4%;
}
.m-l-5-perc{
    margin-left: 5%;
}
.m-l-10-perc{
    margin-left: 10%;
}
.m-l-15-perc{
    margin-left: 15%;
}
.m-l-20-perc{
    margin-left: 20%;
}
.m-l-25-perc{
    margin-left: 25%;
}

.m-r-1-perc{
    margin-right: 1%;
}
.m-r-2-perc{
    margin-right: 2%;
}
.m-r-3-perc{
    padding-right: 3%;
}
.m-r-4-perc{
    margin-right: 4%;
}
.m-r-5-perc{
    margin-right: 5%;
}
.m-r-10-perc{
    margin-right: 10%;
}
.m-r-15-perc{
    margin-right: 15%;
}
.m-r-20-perc{
    margin-right: 20%;
}
.m-r-25-perc{
    margin-right: 25%;
}

.m-y-1-perc{
    margin-top: 1%;
    margin-bottom: 1%;
}
.m-y-2-perc{
    margin-top: 2%;
    margin-bottom: 2%;
}
.m-y-3-perc{
    margin-top: 3%;
    margin-bottom: 3%;
}
.m-y-4-perc{
    margin-top: 4%;
    margin-bottom: 4%;
}
.m-y-5-perc{
    margin-top: 5%;
    margin-bottom: 5%;
}
.m-y-10-perc{
    margin-top: 10%;
    margin-bottom: 10%;
}
.m-y-15-perc{
    margin-top: 15%;
    margin-bottom: 15%;
}
.m-y-20-perc{
    margin-top: 20%;
    margin-bottom: 20%;
}
.m-y-25-perc{
    margin-top: 25%;
    margin-bottom: 25%;
}

.m-x-1-perc{
    margin-left: 1%;
    margin-right: 1%;
}
.m-x-2-perc{
    margin-left: 2%;
    margin-right: 2%;
}
.m-x-3-perc{
    margin-left: 3%;
    margin-right: 3%;
}
.m-x-4-perc{
    margin-left: 4%;
    margin-right: 4%;
}
.m-x-5-perc{
    margin-left: 5%;
    margin-right: 5%;
}
.m-x-10-perc{
    margin-left: 10%;
    margin-right: 10%;
}
.m-x-15-perc{
    margin-left: 15%;
    margin-right: 15%;
}
.m-x-20-perc{
    margin-left: 20%;
    margin-right: 20%;
}
.m-x-25-perc{
    margin-left: 25%;
    margin-right: 25%;
}