// WIDTH
// width px
.w-10-px{
    max-width: 10px;
}
.w-15-px{
    max-width: 15px;
}
.w-20-px{
    max-width: 20px;
}
.w-25-px{
    max-width: 25px;
}
.w-30-px{
    max-width: 30px;
}
.w-50-px{
    max-width: 50px;
}
.w-100-px{
    max-width: 100px;
}

// width em
.w-10-em{
    max-width: 10em;
}
.w-15-em{
    max-width: 15em;
}
.w-20-em{
    max-width: 20em;
}
.w-25-em{
    max-width: 25em;
}
.w-30-em{
    max-width: 30em;
}
.w-50-em{
    max-width: 50em;
}
.w-100-em{
    max-width: 100em;
}

// width perc
.w-10-perc{
    max-width: 10%;
}
.w-15-perc{
    max-width: 15%;
}
.w-20-perc{
    max-width: 20%;
}
.w-25-perc{
    max-width: 25%;
}
.w-30-perc{
    max-width: 30%;
}
.w-50-perc{
    max-width: 50%;
}
.w-100-perc{
    max-width: 100%;
}

// HEIGHT
// height px
.h-10-px{
    max-height: 10px;
}
.h-15-px{
    max-height: 15px;
}
.h-20-px{
    max-height: 20px;
}
.h-25-px{
    max-height: 25px;
}
.h-30-px{
    max-height: 30px;
}
.h-50-px{
    max-height: 50px;
}
.h-100-px{
    max-height: 100px;
}

// height em
.h-10-em{
    max-height: 10em;
}
.h-15-em{
    max-height: 15em;
}
.h-20-em{
    max-height: 20em;
}
.h-25-em{
    max-height: 25em;
}
.h-30-em{
    max-height: 30em;
}
.h-50-em{
    max-height: 50em;
}
.h-100-em{
    max-height: 100em;
}

// height perc
.h-10-perc{
    max-height: 10%;
}
.h-15-perc{
    max-height: 15%;
}
.h-20-perc{
    max-height: 20%;
}
.h-25-perc{
    max-height: 25%;
}
.h-30-perc{
    max-height: 30%;
}
.h-50-perc{
    max-height: 50%;
}
.h-100-perc{
    max-height: 100%;
}

// LEFT
// left px
.l-10-px{
    left: 10px;
}
.l-15-px{
    left: 15px;
}
.l-20-px{
    left: 20px;
}
.l-25-px{
    left: 25px;
}
.l-30-px{
    left: 30px;
}
.l-50-px{
    left: 50px;
}
.l-100-px{
    left: 100px;
}

// left em
.l-10-em{
    left: 10em;
}
.l-15-em{
    left: 15em;
}
.l-20-em{
    left: 20em;
}
.l-25-em{
    left: 25em;
}
.l-30-em{
    left: 30em;
}
.l-50-em{
    left: 50em;
}
.l-100-em{
    left: 100em;
}

// left perc
.l-10-perc{
    left: 10%;
}
.l-15-perc{
    left: 15%;
}
.l-20-perc{
    left: 20%;
}
.l-25-perc{
    left: 25%;
}
.l-30-perc{
    left: 30%;
}
.l-50-perc{
    left: 50%;
}
.l-100-perc{
    left: 100%;
}

// RIGHT
// right px
.r-10-px{
    right: 10px;
}
.r-15-px{
    right: 15px;
}
.r-20-px{
    right: 20px;
}
.r-25-px{
    right: 25px;
}
.r-30-px{
    right: 30px;
}
.r-50-px{
    right: 50px;
}
.r-100-px{
    right: 100px;
}

// right em
.r-10-em{
    right: 10em;
}
.r-15-em{
    right: 15em;
}
.r-20-em{
    right: 20em;
}
.r-25-em{
    right: 25em;
}
.r-30-em{
    right: 30em;
}
.r-50-em{
    right: 50em;
}
.r-100-em{
    right: 100em;
}

// right perc
.r-10-perc{
    right: 10%;
}
.r-15-perc{
    right: 15%;
}
.r-20-perc{
    right: 20%;
}
.r-25-perc{
    right: 25%;
}
.r-30-perc{
    right: 30%;
}
.r-50-perc{
    right: 50%;
}
.r-100-perc{
    right: 100%;
}

// PADDINGS
// padding px
.padding-t-1-px{
    padding-top: 1px;
}
.padding-t-2-px{
    padding-top: 2px;
}
.padding-t-3-px{
    padding-top: 3px;
}
.padding-t-4-px{
    padding-top: 4px;
}
.padding-t-5-px{
    padding-top: 5px;
}
.padding-t-10-px{
    padding-top: 10px;
}
.padding-t-15-px{
    padding-top: 15px;
}
.padding-t-20-px{
    padding-top: 20px;
}
.padding-t-25-px{
    padding-top: 25px;
}

.padding-b-1-px{
    padding-bottom: 1px;
}
.padding-b-2-px{
    padding-bottom: 2px;
}
.padding-b-3-px{
    padding-bottom: 3px;
}
.padding-b-4-px{
    padding-bottom: 4px;
}
.padding-b-5-px{
    padding-bottom: 5px;
}
.padding-b-10-px{
    padding-bottom: 10px;
}
.padding-b-15-px{
    padding-bottom: 15px;
}
.padding-b-20-px{
    padding-bottom: 20px;
}
.padding-b-25-px{
    padding-bottom: 25px;
}

.padding-l-1-px{
    padding-left: 1px;
}
.padding-l-2-px{
    padding-left: 2px;
}
.padding-l-3-px{
    padding-left: 3px;
}
.padding-l-4-px{
    padding-left: 4px;
}
.padding-l-5-px{
    padding-left: 5px;
}
.padding-l-10-px{
    padding-left: 10px;
}
.padding-l-15-px{
    padding-left: 15px;
}
.padding-l-20-px{
    padding-left: 20px;
}
.padding-l-25-px{
    padding-left: 25px;
}

.padding-r-1-px{
    padding-right: 1px;
}
.padding-r-2-px{
    padding-right: 2px;
}
.padding-r-3-px{
    padding-right: 3px;
}
.padding-r-4-px{
    padding-right: 4px;
}
.padding-r-5-px{
    padding-right: 5px;
}
.padding-r-10-px{
    padding-right: 10px;
}
.padding-r-15-px{
    padding-right: 15px;
}
.padding-r-20-px{
    padding-right: 20px;
}
.padding-r-25-px{
    padding-right: 25px;
}

.padding-y-1-px{
    padding-top: 1px;
    padding-bottom: 1px;
}
.padding-y-2-px{
    padding-top: 2px;
    padding-bottom: 2px;
}
.padding-y-3-px{
    padding-top: 3px;
    padding-bottom: 3px;
}
.padding-y-4-px{
    padding-top: 4px;
    padding-bottom: 4px;
}
.padding-y-5-px{
    padding-top: 5px;
    padding-bottom: 5px;
}
.padding-y-10-px{
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-y-15-px{
    padding-top: 15px;
    padding-bottom: 15px;
}
.padding-y-20-px{
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding-y-25-px{
    padding-top: 25px;
    padding-bottom: 25px;
}

.padding-x-1-px{
    padding-left: 1px;
    padding-right: 1px;
}
.padding-x-2-px{
    padding-left: 2px;
    padding-right: 2px;
}
.padding-x-3-px{
    padding-left: 3px;
    padding-right: 3px;
}
.padding-x-4-px{
    padding-left: 4px;
    padding-right: 4px;
}
.padding-x-5-px{
    padding-left: 5px;
    padding-right: 5px;
}
.padding-x-10-px{
    padding-left: 10px;
    padding-right: 10px;
}
.padding-x-15-px{
    padding-left: 15px;
    padding-right: 15px;
}
.padding-x-20-px{
    padding-left: 20px;
    padding-right: 20px;
}
.padding-x-25-px{
    padding-left: 25px;
    padding-right: 25px;
}

// padding em
.padding-t-1-em{
    padding-top: 1em;
}
.padding-t-2-em{
    padding-top: 2em;
}
.padding-t-3-em{
    padding-top: 3em;
}
.padding-t-4-em{
    padding-top: 4em;
}
.padding-t-5-em{
    padding-top: 5em;
}
.padding-t-10-em{
    padding-top: 10em;
}
.padding-t-15-em{
    padding-top: 15em;
}
.padding-t-20-em{
    padding-top: 20em;
}
.padding-t-25-em{
    padding-top: 25em;
}

.padding-b-1-em{
    padding-bottom: 1em;
}
.padding-b-2-em{
    padding-bottom: 2em;
}
.padding-b-3-em{
    padding-bottom: 3em;
}
.padding-b-4-em{
    padding-bottom: 4em;
}
.padding-b-5-em{
    padding-bottom: 5em;
}
.padding-b-10-em{
    padding-bottom: 10em;
}
.padding-b-15-em{
    padding-bottom: 15em;
}
.padding-b-20-em{
    padding-bottom: 20em;
}
.padding-b-25-em{
    padding-bottom: 25em;
}

.padding-l-1-em{
    padding-left: 1em;
}
.padding-l-2-em{
    padding-left: 2em;
}
.padding-l-3-em{
    padding-left: 3em;
}
.padding-l-4-em{
    padding-left: 4em;
}
.padding-l-5-em{
    padding-left: 5em;
}
.padding-l-10-em{
    padding-left: 10em;
}
.padding-l-15-em{
    padding-left: 15em;
}
.padding-l-20-em{
    padding-left: 20em;
}
.padding-l-25-em{
    padding-left: 25em;
}

.padding-r-1-em{
    padding-right: 1em;
}
.padding-r-2-em{
    padding-right: 2em;
}
.padding-r-3-em{
    padding-right: 3em;
}
.padding-r-4-em{
    padding-right: 4em;
}
.padding-r-5-em{
    padding-right: 5em;
}
.padding-r-10-em{
    padding-right: 10em;
}
.padding-r-15-em{
    padding-right: 15em;
}
.padding-r-20-em{
    padding-right: 20em;
}
.padding-r-25-em{
    padding-right: 25em;
}

.padding-y-1-em{
    padding-top: 1em;
    padding-bottom: 1em;
}
.padding-y-2-em{
    padding-top: 2em;
    padding-bottom: 2em;
}
.padding-y-3-em{
    padding-top: 3em;
    padding-bottom: 3em;
}
.padding-y-4-em{
    padding-top: 4em;
    padding-bottom: 4em;
}
.padding-y-5-em{
    padding-top: 5em;
    padding-bottom: 5em;
}
.padding-y-10-em{
    padding-top: 10em;
    padding-bottom: 10em;
}
.padding-y-15-em{
    padding-top: 15em;
    padding-bottom: 15em;
}
.padding-y-20em{
    padding-top: 20em;
    padding-bottom: 20em;
}
.padding-y-25em{
    padding-top: 25em;
    padding-bottom: 25em;
}

.padding-x-1-em{
    padding-left: 1em;
    padding-right: 1em;
}
.padding-x-2-em{
    padding-left: 2em;
    padding-right: 2em;
}
.padding-x-3-em{
    padding-left: 3em;
    padding-right: 3em;
}
.padding-x-4-em{
    padding-left: 4em;
    padding-right: 4em;
}
.padding-x-5-em{
    padding-left: 5em;
    padding-right: 5em;
}
.padding-x-10-em{
    padding-left: 10em;
    padding-right: 10em;
}
.padding-x-15-em{
    padding-left: 15em;
    padding-right: 15em;
}
.padding-x-20-em{
    padding-left: 20em;
    padding-right: 20em;
}
.padding-x-25-em{
    padding-left: 25em;
    padding-right: 25em;
}

// padding perc
.padding-t-1-perc{
    padding-top: 1%;
}
.padding-t-2-perc{
    padding-top: 2%;
}
.padding-t-3-perc{
    padding-top: 3%;
}
.padding-t-4-perc{
    padding-top: 4%;
}
.padding-t-5-perc{
    padding-top: 5%;
}
.padding-t-10-perc{
    padding-top: 10%;
}
.padding-t-15-perc{
    padding-top: 15%;
}
.padding-t-20-perc{
    padding-top: 20%;
}
.padding-t-25-perc{
    padding-top: 25%;
}

.padding-b-1-perc{
    padding-bottom: 1%;
}
.padding-b-2-perc{
    padding-bottom: 2%;
}
.padding-b-3-perc{
    padding-bottom: 3%;
}
.padding-b-4-perc{
    padding-bottom: 4%;
}
.padding-b-5-perc{
    padding-bottom: 5%;
}
.padding-b-10-perc{
    padding-bottom: 10%;
}
.padding-b-15-perc{
    padding-bottom: 15%;
}
.padding-b-20-perc{
    padding-bottom: 20%;
}
.padding-b-25-perc{
    padding-bottom: 25%;
}

.padding-l-1-perc{
    padding-left: 1%;
}
.padding-l-2-perc{
    padding-left: 2%;
}
.padding-l-3-perc{
    padding-left: 3%;
}
.padding-l-4-perc{
    padding-left: 4%;
}
.padding-l-5-perc{
    padding-left: 5%;
}
.padding-l-10-perc{
    padding-left: 10%;
}
.padding-l-15-perc{
    padding-left: 15%;
}
.padding-l-20-perc{
    padding-left: 20%;
}
.padding-l-25-perc{
    padding-left: 25%;
}

.padding-r-1-perc{
    padding-right: 1%;
}
.padding-r-2-perc{
    padding-right: 2%;
}
.padding-r-3-perc{
    padding-right: 3%;
}
.padding-r-4-perc{
    padding-right: 4%;
}
.padding-r-5-perc{
    padding-right: 5%;
}
.padding-r-10-perc{
    padding-right: 10%;
}
.padding-r-15-perc{
    padding-right: 15%;
}
.padding-r-20-perc{
    padding-right: 20%;
}
.padding-r-25-perc{
    padding-right: 25%;
}

.padding-y-1-perc{
    padding-top: 1%;
    padding-bottom: 1%;
}
.padding-y-2-perc{
    padding-top: 2%;
    padding-bottom: 2%;
}
.padding-y-3-perc{
    padding-top: 3%;
    padding-bottom: 3%;
}
.padding-y-4-perc{
    padding-top: 4%;
    padding-bottom: 4%;
}
.padding-y-5-perc{
    padding-top: 5%;
    padding-bottom: 5%;
}
.padding-y-10-perc{
    padding-top: 10%;
    padding-bottom: 10%;
}
.padding-y-15-perc{
    padding-top: 15%;
    padding-bottom: 15%;
}
.padding-y-20-perc{
    padding-top: 20%;
    padding-bottom: 20%;
}
.padding-y-25-perc{
    padding-top: 25%;
    padding-bottom: 25%;
}

.padding-x-1-perc{
    padding-left: 1%;
    padding-right: 1%;
}
.padding-x-2-perc{
    padding-left: 2%;
    padding-right: 2%;
}
.padding-x-3-perc{
    padding-left: 3%;
    padding-right: 3%;
}
.padding-x-4-perc{
    padding-left: 4%;
    padding-right: 4%;
}
.padding-x-5-perc{
    padding-left: 5%;
    padding-right: 5%;
}
.padding-x-10-perc{
    padding-left: 10%;
    padding-right: 10%;
}
.padding-x-15-perc{
    padding-left: 15%;
    padding-right: 15%;
}
.padding-x-20-perc{
    padding-left: 20%;
    padding-right: 20%;
}
.padding-x-25-perc{
    padding-left: 25%;
    padding-right: 25%;
}


// MARGINS
// margin px
.margin-t-1-px{
    margin-top: 1px;
}
.margin-t-2-px{
    margin-top: 2px;
}
.margin-t-3-px{
    margin-top: 3px;
}
.margin-t-4-px{
    margin-top: 4px;
}
.margin-t-5-px{
    margin-top: 5px;
}
.margin-t-10-px{
    margin-top: 10px;
}
.margin-t-15-px{
    margin-top: 15px;
}
.margin-t-20-px{
    margin-top: 20px;
}
.margin-t-25-px{
    margin-top: 25px;
}

.margin-b-1-px{
    margin-bottom: 1px;
}
.margin-b-2-px{
    margin-bottom: 2px;
}
.margin-b-3-px{
    margin-bottom: 3px;
}
.margin-b-4-px{
    margin-bottom: 4px;
}
.margin-b-5-px{
    margin-bottom: 5px;
}
.margin-b-10-px{
    margin-bottom: 10px;
}
.margin-b-15-px{
    margin-bottom: 15px;
}
.margin-b-20-px{
    margin-bottom: 20px;
}
.margin-b-25-px{
    margin-bottom: 25px;
}

.margin-l-1-px{
    margin-left: 1px;
}
.margin-l-2-px{
    margin-left: 2px;
}
.margin-l-3-px{
    margin-left: 3px;
}
.margin-l-4-px{
    margin-left: 4px;
}
.margin-l-5-px{
    margin-left: 5px;
}
.margin-l-10-px{
    margin-left: 10px;
}
.margin-l-15-px{
    margin-left: 15px;
}
.margin-l-20-px{
    margin-left: 20px;
}
.margin-l-25-px{
    margin-left: 25px;
}

.margin-r-1-px{
    margin-right: 1px;
}
.margin-r-2-px{
    margin-right: 2px;
}
.margin-r-3-px{
    margin-right: 3px;
}
.margin-r-4-px{
    margin-right: 4px;
}
.margin-r-5-px{
    margin-right: 5px;
}
.margin-r-10-px{
    margin-right: 10px;
}
.margin-r-15-px{
    margin-right: 15px;
}
.margin-r-20-px{
    margin-right: 20px;
}
.margin-r-25-px{
    margin-right: 25px;
}

.margin-y-1-px{
    margin-top: 1px;
    margin-bottom: 1px;
}
.margin-y-2-px{
    margin-top: 2px;
    margin-bottom: 2px;
}
.margin-y-3-px{
    margin-top: 3px;
    margin-bottom: 3px;
}
.margin-y-4-px{
    margin-top: 4px;
    margin-bottom: 4px;
}
.margin-y-5-px{
    margin-top: 5px;
    margin-bottom: 5px;
}
.margin-y-10-px{
    margin-top: 10px;
    margin-bottom: 10px;
}
.margin-y-15-px{
    margin-top: 15px;
    margin-bottom: 15px;
}
.margin-y-20-px{
    margin-top: 20px;
    margin-bottom: 20px;
}
.margin-y-25-px{
    margin-top: 25px;
    margin-bottom: 25px;
}

.margin-x-1-px{
    margin-left: 1px;
    margin-right: 1px;
}
.margin-x-2-px{
    margin-left: 2px;
    margin-right: 2px;
}
.margin-x-3-px{
    margin-left: 3px;
    margin-right: 3px;
}
.margin-x-4-px{
    margin-left: 4px;
    margin-right: 4px;
}
.margin-x-5-px{
    margin-left: 5px;
    margin-right: 5px;
}
.margin-x-10-px{
    margin-left: 10px;
    margin-right: 10px;
}
.margin-x-15-px{
    margin-left: 15px;
    margin-right: 15px;
}
.margin-x-20-px{
    margin-left: 20px;
    margin-right: 20px;
}
.margin-x-25-px{
    margin-left: 25px;
    margin-right: 25px;
}

// margin em
.margin-t-1-em{
    margin-top: 1em;
}
.margin-t-2-em{
    margin-top: 2em;
}
.margin-t-3-em{
    margin-top: 3em;
}
.margin-t-4-em{
    margin-top: 4em;
}
.margin-t-5-em{
    margin-top: 5em;
}
.margin-t-10-em{
    margin-top: 10em;
}
.margin-t-15-em{
    margin-top: 15em;
}
.margin-t-20-em{
    margin-top: 20em;
}
.margin-t-25-em{
    margin-top: 25em;
}

.margin-b-1-em{
    margin-bottom: 1em;
}
.margin-b-2-em{
    margin-bottom: 2em;
}
.margin-b-3-em{
    margin-bottom: 3em;
}
.margin-b-4-em{
    margin-bottom: 4em;
}
.margin-b-5-em{
    margin-bottom: 5em;
}
.margin-b-10-em{
    margin-bottom: 10em;
}
.margin-b-15-em{
    margin-bottom: 15em;
}
.margin-b-20-em{
    margin-bottom: 20em;
}
.margin-b-25-em{
    margin-bottom: 25em;
}

.margin-l-1-em{
    margin-left: 1em;
}
.margin-l-2-em{
    margin-left: 2em;
}
.margin-l-3-em{
    margin-left: 3em;
}
.margin-l-4-em{
    margin-left: 4em;
}
.margin-l-5-em{
    margin-left: 5em;
}
.margin-l-10-em{
    margin-left: 10em;
}
.margin-l-15-em{
    margin-left: 15em;
}
.margin-l-20-em{
    margin-left: 20em;
}
.margin-l-25-em{
    margin-left: 25em;
}

.margin-r-1-em{
    margin-right: 1em;
}
.margin-r-2-em{
    margin-right: 2em;
}
.margin-r-3-em{
    margin-right: 3em;
}
.margin-r-4-em{
    margin-right: 4em;
}
.margin-r-5-em{
    margin-right: 5em;
}
.margin-r-10-em{
    margin-right: 10em;
}
.margin-r-15-em{
    margin-right: 15em;
}
.margin-r-20-em{
    margin-right: 20em;
}
.margin-r-25-em{
    margin-right: 25em;
}

.margin-y-1-em{
    margin-top: 1em;
    margin-bottom: 1em;
}
.margin-y-2-em{
    margin-top: 2em;
    margin-bottom: 2em;
}
.margin-y-3-em{
    margin-top: 3em;
    margin-bottom: 3em;
}
.margin-y-4-em{
    margin-top: 4em;
    margin-bottom: 4em;
}
.margin-y-5-em{
    margin-top: 5em;
    margin-bottom: 5em;
}
.margin-y-10-em{
    margin-top: 10em;
    margin-bottom: 10em;
}
.margin-y-15-em{
    margin-top: 15em;
    margin-bottom: 15em;
}
.margin-y-20em{
    margin-top: 20em;
    margin-bottom: 20em;
}
.margin-y-25em{
    margin-top: 25em;
    margin-bottom: 25em;
}

.margin-x-1-em{
    margin-left: 1em;
    margin-right: 1em;
}
.margin-x-2-em{
    margin-left: 2em;
    margin-right: 2em;
}
.margin-x-3-em{
    margin-left: 3em;
    margin-right: 3em;
}
.margin-x-4-em{
    margin-left: 4em;
    margin-right: 4em;
}
.margin-x-5-em{
    margin-left: 5em;
    margin-right: 5em;
}
.margin-x-10-em{
    margin-left: 10em;
    margin-right: 10em;
}
.margin-x-15-em{
    margin-left: 15em;
    margin-right: 15em;
}
.margin-x-20-em{
    margin-left: 20em;
    margin-right: 20em;
}
.margin-x-25-em{
    margin-left: 25em;
    margin-right: 25em;
}

// margin perc
.margin-t-1-perc{
    margin-top: 1%;
}
.margin-t-2-perc{
    margin-top: 2%;
}
.margin-t-3-perc{
    padding-top: 3%;
}
.margin-t-4-perc{
    margin-top: 4%;
}
.margin-t-5-perc{
    margin-top: 5%;
}
.margin-t-10-perc{
    margin-top: 10%;
}
.margin-t-15-perc{
    margin-top: 15%;
}
.margin-t-20-perc{
    margin-top: 20%;
}
.margin-t-25-perc{
    margin-top: 25%;
}

.margin-b-1-perc{
    margin-bottom: 1%;
}
.margin-b-2-perc{
    margin-bottom: 2%;
}
.margin-b-3-perc{
    padding-bottom: 3%;
}
.margin-b-4-perc{
    margin-bottom: 4%;
}
.margin-b-5-perc{
    margin-bottom: 5%;
}
.margin-b-10-perc{
    margin-bottom: 10%;
}
.margin-b-15-perc{
    margin-bottom: 15%;
}
.margin-b-20-perc{
    margin-bottom: 20%;
}
.margin-b-25-perc{
    margin-bottom: 25%;
}

.margin-l-1-perc{
    margin-left: 1%;
}
.margin-l-2-perc{
    margin-left: 2%;
}
.margin-l-3-perc{
    padding-left: 3%;
}
.margin-l-4-perc{
    margin-left: 4%;
}
.margin-l-5-perc{
    margin-left: 5%;
}
.margin-l-10-perc{
    margin-left: 10%;
}
.margin-l-15-perc{
    margin-left: 15%;
}
.margin-l-20-perc{
    margin-left: 20%;
}
.margin-l-25-perc{
    margin-left: 25%;
}

.margin-r-1-perc{
    margin-right: 1%;
}
.margin-r-2-perc{
    margin-right: 2%;
}
.margin-r-3-perc{
    padding-right: 3%;
}
.margin-r-4-perc{
    margin-right: 4%;
}
.margin-r-5-perc{
    margin-right: 5%;
}
.margin-r-10-perc{
    margin-right: 10%;
}
.margin-r-15-perc{
    margin-right: 15%;
}
.margin-r-20-perc{
    margin-right: 20%;
}
.margin-r-25-perc{
    margin-right: 25%;
}

.margin-y-1-perc{
    margin-top: 1%;
    margin-bottom: 1%;
}
.margin-y-2-perc{
    margin-top: 2%;
    margin-bottom: 2%;
}
.margin-y-3-perc{
    margin-top: 3%;
    margin-bottom: 3%;
}
.margin-y-4-perc{
    margin-top: 4%;
    margin-bottom: 4%;
}
.margin-y-5-perc{
    margin-top: 5%;
    margin-bottom: 5%;
}
.margin-y-10-perc{
    margin-top: 10%;
    margin-bottom: 10%;
}
.margin-y-15-perc{
    margin-top: 15%;
    margin-bottom: 15%;
}
.margin-y-20-perc{
    margin-top: 20%;
    margin-bottom: 20%;
}
.margin-y-25-perc{
    margin-top: 25%;
    margin-bottom: 25%;
}

.margin-x-1-perc{
    margin-left: 1%;
    margin-right: 1%;
}
.margin-x-2-perc{
    margin-left: 2%;
    margin-right: 2%;
}
.margin-x-3-perc{
    margin-left: 3%;
    margin-right: 3%;
}
.margin-x-4-perc{
    margin-left: 4%;
    margin-right: 4%;
}
.margin-x-5-perc{
    margin-left: 5%;
    margin-right: 5%;
}
.margin-x-10-perc{
    margin-left: 10%;
    margin-right: 10%;
}
.margin-x-15-perc{
    margin-left: 15%;
    margin-right: 15%;
}
.margin-x-20-perc{
    margin-left: 20%;
    margin-right: 20%;
}
.margin-x-25-perc{
    margin-left: 25%;
    margin-right: 25%;
}